@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #f7f0e8;
    --foreground: #222222;
    --foreground-muted: #4c4c4c;

    --accent: #3e6856;

    --secondary-font: 'Alegreya Sans', sans-serif;
  }

  .dark {
  }
}

@layer base {
  body {
    background: var(--primary);
    color: var(--foreground);
  }
}

.h1 {
  @apply text-6xl md:text-7xl xl:text-[105px] xl:leading-[100px] tracking-[2px] xl:tracking-[-1px] font-bold;
  font-family: var(--secondary-font);
}

.h2 {
  @apply text-4xl;
}

.subtitle {
  @apply text-foreground-70/80 mb-8;
}

.section-title {
  @apply text-4xl font-bold relative w-max flex items-center justify-between gap-x-3;
  font-family: var(--secondary-font);
}

.tags {
  @apply bg-secondary-60/80 text-primary-10 px-3 py-1 rounded-full;
}
