@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #f7f0e8;
    --foreground: #222222;
    --foreground-muted: #4c4c4c;

    --accent: #3e6856;
  }

  .dark {
  }
}

@layer base {
  body {
    background: var(--primary);
    color: var(--foreground);
  }
}

.h1 {
  @apply text-6xl xl:text-[72px] xl:leading-[80px] tracking-[-1px];
  font-family: var(--title-font);
}

.h2 {
  @apply text-4xl;
  font-family: var(--title-font);
}
